<?php

return [
    'hf_pool'         => [
        /**
         * Time to life for acquired lock from now in seconds
         *
         * Defaults to 15 minutes
         */
        // 'ttl'                 => 900,

        /**
         * Doctrine connection the pool manager should use
         *
         * Defaults to 'doctrine.connection.orm_default'
         */
        // 'doctrine_connection' => 'doctrine.connection.orm_default',
    ],
];